#sidebar{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    min-width: 200px;
    width: 300px;
    height: 100%;
    box-shadow: 1px 0px 15px -5px #588be3;
}

.sidebar-header{
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
    width: 100%;
    /* margin-top: 10px; */
}
.sidebar-tabList{
    flex: 6;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-bottom: 10px;
}
.sidebar-tabList__top{
    flex: 2;
    display:flex;
    flex-direction:column;
    justify-content: right;
    width: 90%;
    position: relative;
    right: -16px;
}
.tabList-item{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    border-radius: 25px 0px 0px 25px;
    margin: 6px;
}
@keyframes activeTabItem{
    0% {
        background-color: #fff;
        color: #000;
        transform:translateX(-10px);
    }
    /* 50%{
        transform: translateX(20px);
    } */
    100% {
        background-color: #588be3;
        transform:translateX(0px);
        color: #fff;
    }
    /* 100% {
        transform: translateX(20px);
    } */
}
.tabList-item *{
    pointer-events: none;
}
.tabList-item i{
    margin-left: 10px;
}
.sidebar-tabList__bottom{
    flex: 2;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    width: 90%;
}
.tabList-item__bottom{
    padding: 0 16px;
    color: #9c9c9c;
    width: 100%;
}
.sidebar-tabList__bottom .member-list{
    display: flex;
    justify-content: top;
    align-items: center;
}
.member-data__btn{
    flex: 1;
}
.member-data__btn{
    color: #9c9c9c;
}
.member-data__item{
    display: flex;
    justify-content:left;
    align-items: center;
    width: 90%;
    margin: 10px 0;
}
.member-data{
    flex: 8;
    display:flex;
    align-items:center;
    justify-content:top;
    flex-direction:column;
}
.member-data_avata{
    background-size: cover;
    width: 40px;    
    margin-right: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 20px;
}
.active{
    pointer-events: none;
    color: #fff;
    background-color: #588be3;
    transform: translateX(0px);
    animation: activeTabItem 0.2s linear;
    pointer-events: none;
    position: relative;
}
.active::before{
    border-top: 4px solid #ccc;
    border-left: 4px solid #ccc;
    border-bottom:4px solid transparent;
    border-right:4px solid transparent;
    content: " ";
    position: absolute;
    opacity: 1;
    animation: activeTabItem-bf 0.2s linear;
    right: -1px;
    bottom:-8px;
}
@keyframes activeTabItem-bf{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}