*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
.main{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#sidebar{
}
#content{
    flex: 2;
    margin: 10px 50px;
    display:flex;
    align-items:center;
    flex-direction:column;
}